
@font-face {
  font-family: 'Bree-Regular';
  src: url('Bree-Regular.eot?#iefix') format('embedded-opentype'),  url('Bree-Regular.woff') format('woff'), url('Bree-Regular.ttf')  format('truetype'), url('Bree-Regular.svg#Bree-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
